/* This file is for your main application css. */

body {
    background-color: #5e5e5e;
}

@media (min-width: 768px){
    .container{
        max-width:100%;
    }
}

@media (min-width: 992px){
    .container{
        max-width:100%;
    }
}

.lightBox {
    background-color: #9d9d9d;
    padding: 10px;
}

.lightBox a {
    color: #aef0ff
}

.darkBox {
    padding: 10px;
}

.subcat {
    color: whitesmoke;
}

.btn-primary {
    background-color: hsl(108, 0%, 92%) !important;
    background-repeat: repeat-x;
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#eaeaea", endColorstr="#eaeaea");
    background-image: -khtml-gradient(linear, left top, left bottom, from(#eaeaea), to(#eaeaea));
    background-image: -moz-linear-gradient(top, #eaeaea, #eaeaea);
    background-image: -ms-linear-gradient(top, #eaeaea, #eaeaea);
    background-image: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #eaeaea), color-stop(100%, #eaeaea));
    background-image: -webkit-linear-gradient(top, #eaeaea, #eaeaea);
    background-image: -o-linear-gradient(top, #eaeaea, #eaeaea);
    background-image: linear-gradient(#eaeaea, #eaeaea);
    border-color: #eaeaea #eaeaea hsl(108, 0%, 92%);
    color: #333 !important;
    text-shadow: 0 1px 1px rgba(255, 255, 255, 0.00);
    -webkit-font-smoothing: antialiased;
}

label > input{ /* HIDE RADIO */
    visibility: hidden; /* Makes input not-clickable */
    position: absolute; /* Remove input from document flow */
}
label > input + img{ /* IMAGE STYLES */
    cursor:pointer;
    border:2px solid transparent;
}
label > input:checked + img{ /* (RADIO CHECKED) IMAGE STYLES */
    border:2px solid #ff0099;
}

label > input + .doubleTileDiv{ /* IMAGE STYLES */
    cursor:pointer;
    border:2px solid transparent;
}
label > input:checked + .doubleTileDiv{ /* (RADIO CHECKED) IMAGE STYLES */
    border:2px solid #ff0099;
}

.expandable {
    display:none;
}

.expanded {
    display: inline-block;
    background-color: #9d9d9d;
    padding: 4px 11px;
    font-size: 24px;
    cursor: pointer;
    width: 100%
}

.expand {
    display: inline-block;
    background-color: #9d9d9d;
    padding: 4px 11px;
    font-size: 24px;
    cursor: pointer;
    width: 100%
}

.sub {
    display: inline-block;
    background-color: #B2BDCC;
    padding: 4px 11px;
    font-size: 16px;
}


.flavorButton {
    display: inline-block;
    background-color: #9d9d9d;
    padding: 4px 11px;
    font-size: 16px;
    cursor: pointer;
}

#repeating_command_block_back {
    width: 66px;
    height: 66px;
    overflow: hidden;
    margin: 0px;
    display: inline-block;
    vertical-align: top;
}

#repeating_command_block_conditional {
    width: 66px;
    height: 66px;
    overflow: hidden;
    margin: 0px;
    display: inline-block;
    vertical-align: top;
}

#repeating_command_block_front {
    width: 66px;
    height: 66px;
    overflow: hidden;
    margin: 0px;
    display: inline-block;
    vertical-align: top;
}

#repeating_command_block_side {
    width: 66px;
    height: 66px;
    overflow: hidden;
    margin: 0px;
    display: inline-block;
    vertical-align: top;
}

#chain_command_block_back {
    width: 66px;
    height: 66px;
    overflow: hidden;
    margin: 0px;
    display: inline-block;
    vertical-align: top;
}

#chain_command_block_conditional {
    width: 66px;
    height: 66px;
    overflow: hidden;
    margin: 0px;
    display: inline-block;
    vertical-align: top;
}

#chain_command_block_front {
    width: 66px;
    height: 66px;
    overflow: hidden;
    margin: 0px;
    display: inline-block;
    vertical-align: top;
}

#chain_command_block_side {
    width: 66px;
    height: 66px;
    overflow: hidden;
    margin: 0px;
    display: inline-block;
    vertical-align: top;
}

#command_block_back {
    width: 66px;
    height: 66px;
    overflow: hidden;
    margin: 0px;
    display: inline-block;
    vertical-align: top;
}

#command_block_conditional {
    width: 66px;
    height: 66px;
    overflow: hidden;
    margin: 0px;
    display: inline-block;
    vertical-align: top;
}

#command_block_front {
    width: 66px;
    height: 66px;
    overflow: hidden;
    margin: 0px;
    display: inline-block;
    vertical-align: top;
}

#command_block_side {
    width: 66px;
    height: 66px;
    overflow: hidden;
    margin: 0px;
    display: inline-block;
    vertical-align: top;
}

#water_flow {
    width: 66px;
    height: 66px;
    overflow: hidden;
    margin: 0px;
    display: inline-block;
    vertical-align: top;
}

#water_overlay {
    width: 66px;
    height: 66px;
    overflow: hidden;
    margin: 0px;
    display: inline-block;
    vertical-align: top;
}

#water_still {
    width: 66px;
    height: 66px;
    overflow: hidden;
    margin: 0px;
    display: inline-block;
    vertical-align: top;
}

#lava_flow {
    width: 66px;
    height: 66px;
    overflow: hidden;
    margin: 0px;
    display: inline-block;
    vertical-align: top;
}

#lava_still {
    width: 66px;
    height: 66px;
    overflow: hidden;
    margin: 0px;
    display: inline-block;
    vertical-align: top;
}

#fire_0 {
    width: 66px;
    height: 66px;
    overflow: hidden;
    margin: 0px;
    display: inline-block;
    vertical-align: top;
}

#fire_1 {
    width: 66px;
    height: 66px;
    overflow: hidden;
    margin: 0px;
    display: inline-block;
    vertical-align: top;
}

#magma {
    width: 66px;
    height: 66px;
    overflow: hidden;
    margin: 0px;
    display: inline-block;
    vertical-align: top;
}

#nether_portal {
    width: 66px;
    height: 66px;
    overflow: hidden;
    margin: 0px;
    display: inline-block;
    vertical-align: top;
}

#prismarine_rough {
    width: 66px;
    height: 66px;
    overflow: hidden;
    margin: 0px;
    display: inline-block;
    vertical-align: top;
}

#paintings_kristoffer_zetterstrand {
    width: 500px;
    height: 500px;
}

#paintings_kristoffer_zetterstrand > img {
    max-width: 100%;
    height: auto;
}

#entity_div > div > div > #banner_base {
    width: 200px;
    height: 200px;
}

#entity_div > div > div > #banner_base > img {
    max-width: 100%;
    height: auto;
}

#iron_golem {
    width: 300px;
    height: 300px;
}

#iron_golem > img {
    max-width: 100%;
    height: auto;
}

#sub_bear_polarbear {
    width: 320px;
    height: 320px;
}

#sub_bear_polarbear > img {
    max-width: 100%;
    height: auto;
}

#sub_boat_acacia {
    width: 200px;
    height: 200px;
}

#sub_boat_acacia > img {
    max-width: 100%;
    height: auto;
}

#sub_boat_birch {
    width: 200px;
    height: 200px;
}

#sub_boat_birch > img {
    max-width: 100%;
    height: auto;
}

#sub_boat_dark_oak {
    width: 200px;
    height: 200px;
}

#sub_boat_dark_oak > img {
    max-width: 100%;
    height: auto;
}

#sub_boat_jungle {
    width: 200px;
    height: 200px;
}

#sub_boat_jungle > img {
    max-width: 100%;
    height: auto;
}

#sub_boat_oak {
    width: 200px;
    height: 200px;
}

#sub_boat_oak > img {
    max-width: 100%;
    height: auto;
}

#sub_boat_spruce {
    width: 200px;
    height: 200px;
}

#sub_boat_spruce > img {
    max-width: 100%;
    height: auto;
}

#sub_chest_normal_double {
    width: 300px;
    height: 300px;
}

#sub_chest_normal_double > img {
    max-width: 100%;
    height: auto;
}

#sub_chest_trapped_double {
    width: 300px;
    height: 300px;
}

#sub_chest_trapped_double > img {
    max-width: 100%;
    height: auto;
}

#sub_end_crystal_end_crystal {
    width: 300px;
    height: 300px;
}

#sub_end_crystal_end_crystal > img {
    max-width: 100%;
    height: auto;
}

#sub_horse_donkey {
    width: 300px;
    height: 300px;
}

#sub_horse_donkey > img {
    max-width: 100%;
    height: auto;
}

#sub_horse_horse_black {
    width: 300px;
    height: 300px;
}

#sub_horse_horse_black > img {
    max-width: 100%;
    height: auto;
}

#sub_horse_horse_brown {
    width: 300px;
    height: 300px;
}

#sub_horse_horse_brown > img {
    max-width: 100%;
    height: auto;
}

#sub_horse_horse_chestnut {
    width: 300px;
    height: 300px;
}

#sub_horse_horse_chestnut > img {
    max-width: 100%;
    height: auto;
}

#sub_horse_horse_creamy {
    width: 300px;
    height: 300px;
}

#sub_horse_horse_creamy > img {
    max-width: 100%;
    height: auto;
}

#sub_horse_horse_darkbrown {
    width: 300px;
    height: 300px;
}

#sub_horse_horse_darkbrown > img {
    max-width: 100%;
    height: auto;
}

#sub_horse_horse_gray {
    width: 300px;
    height: 300px;
}

#sub_horse_horse_gray > img {
    max-width: 100%;
    height: auto;
}

#sub_horse_horse_skeleton {
    width: 300px;
    height: 300px;
}

#sub_horse_horse_skeleton > img {
    max-width: 100%;
    height: auto;
}

#sub_horse_horse_white {
    width: 300px;
    height: 300px;
}

#sub_horse_horse_white > img {
    max-width: 100%;
    height: auto;
}

#sub_horse_mule {
    width: 300px;
    height: 300px;
}

#sub_horse_mule > img {
    max-width: 100%;
    height: auto;
}

#foliage {
    width: 100px;
    height: 100px;
}

#foliage > img {
    max-width: 100%;
    height: auto;
}

#grass {
    width: 100px;
    height: 100px;
}

#grass > img {
    max-width: 100%;
    height: auto;
}

#clouds {
    width: 100px;
    height: 100px;
}

#clouds > img {
    max-width: 100%;
    height: auto;
}

#moon_phases {
    width: 200px;
    height: 200px;
}

#moon_phases > img {
    max-width: 100%;
    height: auto;
}

#sun {
    width: 200px;
    height: 200px;
}

#sun > img {
    max-width: 100%;
    height: auto;
}

#rain {
    width: 100px;
    height: 100px;
}

#rain > img {
    max-width: 100%;
    height: auto;
}

#gui_div #book {
    width: 400px;
    height: 400px;
}

#gui_div #book > img {
    max-width: 100%;
    height: auto;
}

#icons {
    width: 400px;
    height: 400px;
}

#icons > img {
    max-width: 100%;
    height: auto;
}

#recipe_book {
    width: 300px;
    height: 300px;
}

#recipe_book > img {
    max-width: 100%;
    height: auto;
}

#resource_packs {
    width: 400px;
    height: 400px;
}

#resource_packs > img {
    max-width: 100%;
    height: auto;
}

#server_selection {
    width: 400px;
    height: 400px;
}

#server_selection > img {
    max-width: 100%;
    height: auto;
}

#sub_advancements_tabs {
    width: 200px;
    height: 200px;
}

#sub_advancements_tabs > img {
    max-width: 100%;
    height: auto;
}

#sub_advancements_widgets {
    width: 200px;
    height: 200px;
}

#sub_advancements_widgets > img {
    max-width: 100%;
    height: auto;
}

#sub_advancements_window {
    width: 300px;
    height: 300px;
}

#sub_advancements_window > img {
    max-width: 100%;
    height: auto;
}

#sub_container_anvil {
    width: 300px;
    height: 300px;
}

#sub_container_anvil > img {
    max-width: 100%;
    height: auto;
}

#sub_container_beacon {
    width: 250px;
    height: 250px;
}

#sub_container_beacon > img {
    max-width: 100%;
    height: auto;
}

#sub_container_brewing_stand {
    width: 300px;
    height: 300px;
}

#sub_container_brewing_stand > img {
    max-width: 100%;
    height: auto;
}

#sub_container_crafting_table {
    width: 300px;
    height: 300px;
}

#sub_container_crafting_table > img {
    max-width: 100%;
    height: auto;
}

#sub_container_dispenser {
    width: 300px;
    height: 300px;
}

#sub_container_dispenser > img {
    max-width: 100%;
    height: auto;
}

#sub_container_enchanting_table {
    width: 300px;
    height: 300px;
}

#sub_container_enchanting_table > img {
    max-width: 100%;
    height: auto;
}

#sub_container_brewing_stand {
    width: 300px;
    height: 300px;
}

#sub_container_brewing_stand > img {
    max-width: 100%;
    height: auto;
}

#sub_container_furnace {
    width: 300px;
    height: 300px;
}

#sub_container_furnace > img {
    max-width: 100%;
    height: auto;
}

#sub_container_generic_54 {
    width: 300px;
    height: 300px;
}

#sub_container_generic_54> img {
    max-width: 100%;
    height: auto;
}

#sub_container_hopper {
    width: 300px;
    height: 300px;
}

#sub_container_hopper > img {
    max-width: 100%;
    height: auto;
}

#sub_container_horse{
    width: 300px;
    height: 300px;
}

#sub_container_horse > img {
    max-width: 100%;
    height: auto;
}

#sub_container_inventory {
    width: 300px;
    height: 300px;
}

#sub_container_inventory > img {
    max-width: 100%;
    height: auto;
}

#sub_container_sub_creative_inventory_tab_inventory {
    width: 300px;
    height: 300px;
}

#sub_container_sub_creative_inventory_tab_inventory > img {
    max-width: 100%;
    height: auto;
}

#sub_container_sub_creative_inventory_tab_item_search {
    width: 300px;
    height: 300px;
}

#sub_container_sub_creative_inventory_tab_item_search > img {
    max-width: 100%;
    height: auto;
}

#sub_container_sub_creative_inventory_tab_items {
    width: 300px;
    height: 300px;
}

#sub_container_sub_creative_inventory_tab_items > img {
    max-width: 100%;
    height: auto;
}

#sub_container_sub_creative_inventory_tabs {
    width: 300px;
    height: 300px;
}

#sub_container_sub_creative_inventory_tabs > img {
    max-width: 100%;
    height: auto;
}

#sub_container_shulker_box {
    width: 300px;
    height: 300px;
}

#sub_container_shulker_box > img {
    max-width: 100%;
    height: auto;
}

#sub_container_villager {
    width: 300px;
    height: 300px;
}

#sub_container_villager > img {
    max-width: 100%;
    height: auto;
}

#widgets {
    width: 300px;
    height: 300px;
}

#widgets > img {
    max-width: 100%;
    height: auto;
}

#world_selection {
    width: 400px;
    height: 400px;
}

#world_selection > img {
    max-width: 100%;
    height: auto;
}
